:root {
    --lightgreen: #cfe0c3;
    --rose: #593d3b;  
}

header {
    background-color: var(--lightgreen);
}

* {
    font-family: Papyrus;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--rose);
}

#logo {
    font-size: 24px;
    color: var(--rose);
    padding-left: 10%;
    padding-top: 3%;
}

#logo-img {
    height: 30px;
    width: auto;
    border-radius: 50%;
    margin-right: 2%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 10%;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--rose);
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 100px;
    height: 400px;
}


.hero-left {
    width: 400px;
    flex-grow: 0;
}

.hero-left > p {
    color: rgba(89, 61, 59, 0.7);
    font-size: 18px;
    font-style: italic;

}

#img-right {
    width: 400px;
    height: auto;
    transform: scaleX(-1);
    border: rgba(89, 61, 59, 0.7) solid 3px;
    border-radius: 30px;
}




button {
    padding: 10px;
    background-color: #F2D1C9;
    border-color: #F2D1C9;
    border-radius: 10%;
    margin-top: 10px;
    color: var(--rose);
    font-weight: 700;
}

#signup2 { 
    float: right;
}

h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

.figure-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.fig-img {
    height: 100px;
    width: 100px;
    border: 2px solid var(--lightgreen);
    border-radius: 20%;
}

figcaption {
    text-align: center;
    width: 100px;
}

.quote {
    width: 100%;
    background-color: #E5E7EB;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote > p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 5%;
}

span {
    float: right;
    font-weight: 700;    
    font-style: normal;
    margin-top: 10px;
}

#banner {
    background-color: #9EC1A3;
    margin: 10%;
    border-radius: 15px;
    padding: 30px;
    height: 100px;
    color: var(--rose);
}

footer {
    background-color: var(--lightgreen);
    text-align: center;
    color: var(--rose);
}